JWT_SECRET="hdvhdebcjedbvhebivje"
DATABASE_URL="postgresql://neondb_owner:npg_3jClTEA1QBdD@ep-curly-smoke-aph2c4ox-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT='3000'